<!-- Portfolio Site -->
<!-- Author:Christopher Netten & Kyle Puljar-->

<!-- Start of Header to be included on each page -->
<!DOCTYPE html>
<html>
  <head>
    
<![if !IE]>
    <link rel="icon" href="/images/icon.png" type="image/x-icon" />
    <![endif]>
    <!-- This is needed for IE -->
    <link rel="shortcut icon" href="/images/icon.ico" type="image/ico" />
    
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
      
       <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  
      <link rel="stylesheet" type="text/css" href="stylesheets/loginStyle.css">
      
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
      
      <!-- Angular -->
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
      
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">   
     
       <!-- Latest   jQuery -->
      <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  
      <!-- Latest compiled and minified   JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> 
      
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      
      <script src="javascript/script.js" type="text/javascript"></script>
      
        
  </head>
  <body>


<header>

 <div id="navbarCollapse" class="collapse navbar-collapse">
  <nav role="navigation" class="navbar navbar-fixed-top">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/" id="nav-button"><i class="fa fa-home"></i> Home</a></li>
             </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if (displayName) { %>
              
               
               <% if(title == "userSurveys" ) { %>
            <li class="active">
              <% } else { %>
            <li>
              <% } %>
              <a href="/userSurvey">Your Surveys</a></li>
            <li class="navbar-text">Hello,
              <%= displayName %>
            </li>
            <li><a href="/logout">Logout</a></li>
            <% } else { %>
              <% if(title == "Login" ) { %>
            <li class="active"> </li>
            <% } else { %>
            <li>
            <% } %>
                <a href="/login">Login</a></li>
              <% } %>
           
       </ul>
       </nav>
  </div>