
<%- include partials/header.ejs %>

<div class="spacebox"></div>
<h1 style="text-align: center"> Login Page </h1>
<main class = "jumbotron">
 
  <% if (messages.length > 0) { %>
        <div class="alert alert-danger"><%= messages %></div>
      <% } %>
 
 
 	<div class="container">
	 
	  
	 <div class="row">
	  <div class = "col-lg-6 col-md-6 col-sm-12 col-xs-12">
	  		<form method = "post">
			  
			  	<fieldset class="form-group">
			  		<label>Username: </label>
				 	<input type="text" class="form-control" name="username" required autofocus/>
			  	</fieldset>
				  
				  <fieldset class="form-goup">
				   	<label> Password: </label>
					<input type="password" class="form-control" name="password" required/>
				  </fieldset>
				
				  <fieldset class="form-group text-right">
				  	 <input type="submit" class="btn btn-info" value="LOG IN" />
				  </fieldset>
			  </form>
			  </div>
	  </div>
</div>
<div class="bumper"> </div>
</main>

<%- include partials/footer.ejs %>