<%- include partials/header.ejs %>

<body>

<h1>Welcome to our Poll site </h1>

  <main class="jumbotron">
  
  <div class="panel panel-default">
  <div class="panel-heading">

             <% if (username) { %>
              
            <a href="" title="AddNewPoll"><i class="fa fa-plus-circle"></i> Add A New Poll</a>
              
                <% } %>
              </div>
              
               <div class="panel-body table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Current Polls</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                
                <td></td>
                 <td> <a href="" title="View" class="btn btn-primary">
                            <i class="fa fa-pencil-square-o"></i>
                        </a> </td>
               
                 
                 </div>
                 </div>
                 
                 </tr>


  </main>


</body>

<%- include partials/boot.ejs %>
<%- include partials/nglib.ejs %>
<%- include partials/footer.ejs %>