<%- include partials/header.ejs %>

<body>
<h1>Welcome to our Survey site </h1>
  <main class="jumbotron">

<div class="container">
            <ng-view></ng-view>
        </div> <!-- container -->

        <script type="text/ng-template" id="/todos.html">
             
       <div class="container">
        <% if (username) { %>
    <button class="btn btn-primary">New</button>
    <% } %>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="survey in surveys" ng-class-even="'success'">
                <td>{{survey.name}}</td>
                <td>{{survey.description}}</td>
                <td><a ng-href="#/survey/{{survey.id}}">Edit</a><div class="span1"> </span><a ng-href="#" ng-click="delete($index)">Delete</a></td>
            </tr>
        </tbody>
    </table>
</div>

</script>
  </main>


</body>

<%- include partials/boot.ejs %>
<%- include partials/nglib.ejs %>
<%- include partials/footer.ejs %>