<%- include partials/header.ejs %>

<body>
{{product.price | currency}}
<h1>Welcome to our Poll site </h1>

  <main class="jumbotron">
  <script type="text/ng-template" id="/index.html">
  
  <body ng-controller="StoreController as store">
    <!--  Store Header  -->
    <header>
      <h1 class="text-center">Flatlander Crafted Gems</h1>
      <h2 class="text-center">– an Angular store –</h2>
    </header>

    <!--  Products Container  -->
    <div class="list-group">
      <!--  Product Container  -->
      <div class="list-group-item" ng-repeat="product in store.products">
        <h3>{{product.name}} <em class="pull-right">{{product.price | currency}}</em></h3>

        <!-- Image Gallery  -->
        <product-gallery></product-gallery>

        <!-- Product Tabs  -->
        <product-tabs></product-tabs>
      </div>

    </div>
  </body>
  
  </script>
  </main>


</body>

<%- include partials/boot.ejs %>
<%- include partials/nglib.ejs %>
<%- include partials/footer.ejs %>