<!-- Survey Site -->
<!-- Author:Christopher Netten & Kyle Puljar-->
<!-- This is the footer for each page -->


<!-- Nav bar fixed to the bottom so it wont move -->
<div class="navbar navbar-default navbar-fixed-bottom">
<div class="footer">
    <div class = "container">
        <p class="text-center text-muted">Built By ©Chris Netten & Kyle Puljar - 2015 </p>
    </div>
</div>
</div>

</body>
</html>