<%- include partials/header.ejs %>

<body>
<h1>Welcome to our Survey site </h1>
  <main class="jumbotron">
 <% if (username) { %>
              
            
                <h1> Youve Logged in <%= username %><h1>
                 
                 
                 
                 
                 <% } %>

<h1> Youve Logged in <h1>

  </main>


</body>

<%- include partials/footer.ejs %>